<div class="profile-container">
  <div>
    <h1><%= @user.email %></h1>
    </br>
    </br>
    <h3><%= @user.created_at %></h3>
    <%= button_to "EDIT PROFILE", edit_user_registration_path, method: :get%>
  </div>
  <div>
    <ul class="list-unstyled">
      <% @posts.each do |post| %>
      <li>
        <h3> <%= link_to "#{post.title}",  city_post_path(post.city_id, post), method: :get %></h3>
        <p> <%= truncate(post.description, length: 200) %></p>
      </li>
      <% end %>

    </ul>
  </div>
</div>
