<h1><%= @city.name %></h1>
<%= image_tag @city.photo %>
<%= button_to "CREATE NEW POST", new_city_post_path(@city), method: :get %>
<ul>
  <%= @posts.each do |post| %>
  <li>
    <h3> <%= link_to post.title, root_path %></h3>
    <p> <%= post.description %></p>
  </li>
  <% end %>
  
</ul>
